<div class="main">
  <nav class="flex align-center">
    <img class="logo" src="assets/Logo_AgroStore.jpeg" alt="Imagen no encontrada">
    <ul>
      <li>
        <a href="" [routerLink]="'listu'">Gestión de clientes</a>
        <a href="#">Gestión de productos</a>
        <a href="#">Gestión de acuerdos </a>
        <a href="#">+AgroStore</a>
        <button class="btn login" [routerLink]="'login'"><img src="assets/Icon_Close_Sesion.png" alt="Imagen no encontrada"></button>
      </li>
    </ul>
  </nav>

  <div class="down">
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

