<body>
<div class="container">

  <div class="panel">
    <div class="circle">
    </div>
  </div>

  <div class="text">

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi Perfil</h1>
    <p><b><br>Nombre completo :</b> Samuel Felipe Ruíz</p>
    <p><b>Identificación :</b> 10023112502</p>
    <p><b>Correo electrónico :</b> samuel.felipe@uptc.edu.co</p>
    <p><b>Dirección :</b>Cra 82-12 Barrrio La Nieves</p>
    <p><b>Ciudad :</b>Tunja<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teléfono :</b>321412424<br><br></p>

    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </div>
</div>
</body>
