<body>
<div class="container">

  <div class="panel">
    <div class="circle">
    </div>
  </div>

  <div class="text">

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi Perfil</h1>
    <p><b><br>Nombre completo :</b> {{user?.full_name}}</p>
    <p><b>Identificación :</b> {{user?.document}}</p>
    <p><b>Correo electrónico :</b> {{user?.credentialId}}</p>
    <p><b>Dirección :</b>{{user?.address}}</p>
    <p><b>Ciudad :</b>{{user?.city}}<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Teléfono :</b>{{user?.phone_number}}<br><br></p>

    <div class="buttons">
      <section class="wrapper">
        <button class="edit" (click)="edit()">Editar</button>
        <button class="delete" (click)="delete()">Eliminar</button>
      </section>
    </div>
  </div>
</div>
</body>
