<div class="main">

  <div class="right">
    <!-- Due to the codepen sandboxing the form will not submit properly in this environment -->
    <div class="background">
      <div class="container">
        <div class="row flex-column justify-content-center align-items-center text-center">
          <div class="col-sm-12 col-md-10 col-lg-8">
            <h1 id="time">12:00 AM</h1>
            <h3 id="day" class="display-5">Lunes, Enero 01</h3>
            <h2 id="greeting">Buenos días, Admin.</h2>
            <h3>Que quieres hacer el día de hoy ? </h3>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
  </div>
</div>
