<div class="main">
<nav class="flex align-center">
  <img class="logo" src="assets/Logo_AgroStore.jpeg" alt="Imagen no encontrada">
  <ul>
    <li>
      <a [routerLink]="'principal'" >Home</a>
      <a href="#">Mis ventas</a>
      <a href="" [routerLink]="'my-product'" >Mis productos</a>
      <a href="#" [routerLink]="'create-product'" >Historial de compras</a>
      <a href="#">+AgroStore</a>
      <button class="btn register" (click)="router.navigate(['user/my-profile'])">Mi Perfil</button>
      <button class="btn login"><img src="assets/Icon_Close_Sesion.png" alt="Imagen no encontrada"></button>
    </li>
  </ul>
</nav>

<div class="down">
  <div class="tab-content">


    <router-outlet></router-outlet>
  </div>
</div>
</div>

