<div class="wrapper">
  <form class="search">
    <input type="text" class="searchText" placeholder="Ingresa tu búsqueda">
    <input type="submit" class="searchButton" src="assets/Icon_Search.png" value="GO" >
  </form>
</div>

<div class="container">
  <div class="btn-mas">
    <label class="fa fa-plus" (click)="navigate('/user/create-product')">
      <img src="assets/Icon_Mas.png"></label>
  </div>
</div>


<ul class="mystyle-products">


  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>
  </li>
  <li class="product">
    <a href="14-single-product.html">
      <span class="onsale">Sale!</span>
      <img alt="" class="attachment-shop_catalog " src="https://www.hogarmania.com/archivos/202202/calendario-fruta-verduras-temporada-668x400x80xX-1.jpg" />
      <h3>Frutas y Verduras</h3>
      <span class="price">
          <p>Descripción del producto detalladamente</p>
                <del> <span class="amount">399.000</span> </del>
                <ins> <span class="amount">269.000</span> </ins>
        <span class="sale-tag sale-tag-square">-33%</span>
            </span>
    </a>
    <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
      Mua ngay
    </a>
    <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    <div class="buttons">
      <section class="wrapper">
        <button class="edit">Editar</button>
        <button class="delete">Eliminar</button>
      </section>
    </div>


  </li>

</ul>



