<body>
<div class="container">

  <div class="panel">
    <div class="circle">
    </div>
  </div>

  <div class="text">

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Caracteristicas Producto </h1>
    <p><b><br>Nombre :</b> </p>
    <p><b>Tipo de produccto :</b></p>
    <p><b>Fecha de cosecha:</b> </p>
    <p><b>Ciudad :</b></p>
    <p><b>Disponible :</b><br><br></p>
    <p><b>Unidad de medida :</b><br><br></p>
    <p><b>Descripción : </b><br><br></p>


    <div class="buttons">
      <section class="wrapper">
        <button class="edit" >Editar</button>
        <button class="delete" >Eliminar</button>
      </section>
    </div>
  </div>
</div>
</body>
