<div class="main">
  <div class="right">
    <div class="background">
      <div class="camp">
        <form >
          <h1> Confirmación de Acuerdo de Venta </h1>

          <legend><span class="principal"></span> Confirme los datos del producto que desea comprar</legend>
          <fieldset>
            <tr>
              <th>Nombre :  Nombre del producto</th></tr>
            <tr>
              <th>Tipo de producto : Hortaliza</th>
            </tr>
            <tr>
              <th>Comprador: Samuel Ruiz</th></tr>
            <tr>
              <th>Vendedor: Brayan Cardenas</th>
            </tr>
            <tr>
              <th>Unidad de medida : Kilogramo</th></tr>
            <tr>
              <th>Precio por unidad: 25.000</th>
            </tr>
          </fieldset>

          <form class="form2">
            <legend>Ingrese la cantidad que desea comprar del producto</legend>
            <fieldset class = "second">
              <tr>
                <th><label for="imagen">Cantidad que desea comprar : </label>
                  <input type="number" id="imagen" name="id" formControlName="id"></th>
            </fieldset>

          </form>

          <button type="submit">Generar acuerdo de venta </button>
        </form>
      </div>
    </div>
  </div>
</div>
