<div class="main">
  <div class="right">
    <div class="background">
      <div class="camp">
        <form [formGroup]="promiseForm" (ngSubmit)="saveAgreement()">
          <h1> Confirmación de Acuerdo de Venta </h1>

          <legend><span class="principal"></span> Confirme los datos del producto que desea comprar</legend>
          <fieldset>
            <tr>
              <th>Nombre :  {{product.name}}</th>
            </tr>
            <tr>
              <th>Tipo de producto : {{product.type}}</th>
            </tr>
            <tr>
              <th>Comprador: {{buyer.full_name}}</th>
            </tr>
            <tr>
              <th>Vendedor: {{seller.full_name}}</th>
            </tr>
            <tr>
              <th>Unidad de medida : {{product.units}}</th>
            </tr>
            <tr>
              <th>Precio por unidad: {{product.pricePerunit}}</th>
            </tr>
          </fieldset>
          <legend>Ingrese la cantidad que desea comprar del producto</legend>
          <fieldset class="second">
            <tr>
              <th><label for="imagen">Cantidad que desea comprar : </label>
                <input type="number" id="imagen" name="id" formControlName="quantity"></th>
          </fieldset>
          <button mat-raised-button type="submit" [disabled]="promiseForm.invalid">Generar acuerdo de venta</button>
        </form>
      </div>
    </div>
  </div>
</div>
