
body {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Arial Narrow", sans-serif;
}

.right .background {
  background: url("https://images.pexels.com/photos/5965653/pexels-photo-5965653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
th{
  padding: 10px;
  float: left;
}
form {
  align-items: center;
  margin-top: 3%;
  font-family: "Arial Narrow", sans-serif;
  width: 100%;
  padding: 10%;
  background: #f4f7f8;
  border-radius: 8px;
}
h1 {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 24px
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
select {
  border: 2px;
  font-size: 16px;
  height: 30px;
  outline: 0;
  width: 200px;
  background-color: #e8eeef;
  color: #8a97a0;
}

.form2{
  padding: 0;
  margin-top: 0px;
}

input[type="file"]{
  font-size: 16px;
  height: 30px;
  font-family: "Arial Narrow", sans-serif;
  outline: 0;
  width: 400px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

textarea{
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
  height: 150px;
  outline: 0;
  width: 400px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 2px 4px 0;
}

select {
  padding: 4px;
  height: 28px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 16px;
  color: #FFF;
  background-color: #6b8c24;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #6b8c24;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

button:hover{
  background-color: #162c00;
  border: 1px solid #162c00;

}
fieldset {
  border: none;
}

legend {
  font-size: 16px;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 4px;
}

label.light {
  font-weight: 150;
  display: inline;
}

.principal {
  background-color: #6b8c24;
  max-width: 500px;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 16px;
  margin-right: 4px;
  line-height: 30px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

