@use "@angular/material" as mat;
@include mat.core();
// GAMA COLORES
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  200 : #b5d4a7,
  500 : #6aa84f,
  700 : #57973f,
  contrast: (
    200 : #000000,
    500 : #000000,
    700 : #ffffff,
  )
);

// PALETA DE COLORES

$my-primary: mat.define-palette(mat.$light-green-palette, 700);
$my-accent: mat.define-palette(mat.$lime-palette, A200, A100, A400);
$my-warm: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);
// TEMA PROPIO

$my-theme: mat.define-light-theme(
    $my-primary,
    $my-accent,
    $my-warm
);
// APLICAR TEMA

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

@include mat.all-component-themes($my-theme);

